{% extends 'base.html.twig' %}

{% block body_id 'comment_form_error' %}

{% block body %}
    <h4 class="text-danger">Wystąpił błąd podczas publikacji formularza</h4>

    <div class="well">
        {{ include('blog/_comment_form.html.twig') }}
    </div>
{% endblock %}